.navbarTool {
  display: flex;
  // justify-content: space-between;
  &__logo {
    cursor: pointer;
    width: 16vw;
    &:focus {
      outline: none;
    }
  }
  &__user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    &__date {
      color: #ccc;
    }
    &__info {
      display: flex;
      align-items: center;
      p {
        cursor: pointer;
        font-size: 16px;
      }
      img {
        border-radius: 50%;
      }
    }
  }
}
