.appWrapper {
  overflow: hidden;
  &__navigation {
    padding: 10px;
    height: calc(100vh - 132px);
    border-right: 1px solid #ccc;
  }
  &__content {
    padding: 10px;
    height: calc(100vh - 132px);
    background-color: #f3f2f0;
  }
}
