<div class="empForm mt-3">
  <form [formGroup]="employeeForm" (ngSubmit)="addEmployee()">
    <div class="form-row">
      <div class="col-12 col-sm-12 col-md-6 mb-2">
        <mat-form-field appearance="outline">
          <mat-label>Employee Name</mat-label>
          <input
            type="text"
            matInput
            required
            id="empName"
            formControlName="empName"
          />
          <mat-error
            *ngIf="employeeForm.controls['empName'].hasError('required')"
          >
            Employee Name is required
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-12 col-sm-12 col-md-6 mb-2">
        <mat-form-field appearance="outline">
          <mat-label>Department</mat-label>
          <mat-select
            required
            matInput
            id="empDepartment"
            formControlName="empDepartment"
          >
            <mat-option *ngFor="let dep of departments" [value]="dep.id">{{
              dep.depName
            }}</mat-option>
          </mat-select>
          <mat-error
            *ngIf="employeeForm.controls['empDepartment'].hasError('required')"
          >
            Department is required
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-12 col-sm-12 col-md-6 mb-2">
        <mat-form-field appearance="outline">
          <mat-label>Employee Code</mat-label>
          <input
            type="text"
            matInput
            required
            id="empCode"
            pattern="\d+"
            formControlName="empCode"
          />
          <mat-error
            *ngIf="
              employeeForm.controls['empCode'].hasError('required') &&
              !employeeForm.controls['empCode'].hasError('pattern')
            "
          >
            Employee Code is required
          </mat-error>
          <mat-error
            *ngIf="
              employeeForm.controls['empCode'].hasError('pattern') &&
              !employeeForm.controls['empCode'].hasError('required')
            "
          >
            Employee Code must be positive numbers
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-12 col-sm-12 col-md-6 mb-2">
        <mat-form-field appearance="fill">
          <mat-label>Birthday</mat-label>
          <input
            matInput
            required
            formControlName="empBirthDate"
            [matDatepicker]="picker"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col-12 col-sm-12mb-2">
        <div class="d-flex align-items-center gender_section">
          <div class="d-flex align-items-center">
            <h3 class="mr-4 mt-1">Gender:</h3>
            <mat-radio-group
              formControlName="empGender"
              aria-label="Select an option"
            >
              <mat-radio-button
                color="primary"
                class="mr-4"
                [value]="gender"
                *ngFor="let gender of genders"
                >{{ gender }}</mat-radio-button
              >
            </mat-radio-group>
          </div>
          <button
            type="submit"
            class="submit_form"
            mat-raised-button
            color="primary"
          >
            Add Employee
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
